[submodule "AlphaProject/vendor/SHA256"]
	path = AlphaProject/vendor/SHA256
	url = https://github.com/System-Glitch/SHA256.git
[submodule "vendor/premake-core"]
	path = vendor/premake-core
	url = https://github.com/premake/premake-core.git
[submodule "AlphaProject/vendor/GLEW"]
	path = AlphaProject/vendor/GLEW
	url = https://github.com/nigels-com/glew.git
[submodule "AlphaProject/vendor/GLFW"]
	path = AlphaProject/vendor/GLFW
	url = https://github.com/Tanque40/glfw.git
[submodule "AlphaProject/vendor/ImGUI"]
	path = AlphaProject/vendor/ImGUI
	url = https://github.com/ocornut/imgui.git
